---
const md = [
  {
    title: "Plataforma para capacitaciones online",
    tags: ["Laravel", "MariaDB", "APIs REST", "Queues", "SCORM"],
    description: "Desarrolle APIs robustas con Laravel optimizando consultas SQL complejas para reportes masivos, reduciendo el tiempo de generación de forma considerable. Utilice Laravel Queues para procesamiento asíncrono (importación/exportación de datos). Frontend con Vue.js 2 y manejo del estado con Vuex.",
    features: ["Laravel Queues", "Dashboards Analytics", "Integración SCORM"],
  },
  {
    title: "Sistema de Gestión Académica",
    tags: ["Serverless", "Node.js", "AWS CDK", "DynamoDB"],
    description: "Colaboré en el diseño e implementación de la infraestructura serverless con AWS CDK para manejar miles de aplicaciones diarias utilizando Node y Lambda functions. Asegurando la calidad con Jest y pruebas de integración",
    features: ["Laravel Queues", "Dashboards Analytics", "Integración SCORM"],
  },
  {
    title: "Plataforma para gestión de ventas y el control de inventario (EPOS)",
    tags: ["Fast API", "React", "Redux Toolkit", "Radix UI"],
    description: "Desarrollo Full Stack. Backend con Fast API (Python). Frontend con React y RadixUI/Tailwind CSS, implementando un diseño de componentes reutilizables y altamente reactivos. Gestión de estado avanzada con Redux Toolkit y TanStack Query para peticiones eficientes.",
    features: ["Laravel Queues", "Dashboards Analytics", "Integración SCORM"],
  },
];

const ingenia = [
  {
    title: "Landing Pages",
    tags: ["HTML", "CSS", "JavaScript", "Responsive web design"],
    description:
    "Desarrolle landing pages y SPA's para startups nacionales utilizando temas personalizados basados en Bootstrap, optimizados para SEO y dispositivos móviles.",
    features: ["Bootstrap", "JavaScript"],
  },
];
---

<div>
  <section class="py-5">
    <div class="container my-5">
      <h2 class="text-center fw-bold display-3 mb-5">Experiencia profesional</h2>
      <div class="row mb-5">
        <div class="col-12 col-md-4 rounded p-5 text-center text-md-start">
          <img
            class="img-fluid w-25 rounded-circle mb-3"
            src="/images/logo-md.jpeg"
            alt="mis desarrollos logo"
          />
          <span class="d-block">2019 - 2025</span>
          <h3 class="text-primary my-1">Full Stack Developer</h3>
          <a
            class="btn btn-outline-light"
            href="https://misdesarrollos.space/es/index.html"
            target="_blank"
          >
            Mis Desarrollos
          </a>
        </div>
        <div class="col-12 col-md-8">
          <div class="card spotlight-card p-3 p-md-5">
            <p class="mb-4">
              Como Full Stack Developer participé en el desarrollo de múltiples
              proyectos en los cuales puse a prueba mis conocimientos y mi
              capacidad de aprendizaje al utilizar múltiples lenguajes,
              tecnologías y arquitecturas. Estos son los proyecto más
              desafiantes en los que he participado por su complejidad técnica e
              impacto.
            </p>

            <ul class="list-group border-primary list-group-flush">
              {
                md.map((item) => (
                  <li class="list-group-item">
                    <div class="d-flex justify-content-md-between align-items-center py-2">
                      <h5 class="text-primary m-0">{item.title}</h5>
                    </div>
                    <p>{item.description}</p>
                    {/* <ul class="d-flex gap-3 list-unstyled small text-secondary">
                      {item.features.map((feature) => (
                        <li class="mb-2">
                          <i class="bi bi-check-circle-fill text-success me-2" />
                          {feature}
                        </li>
                      ))}
                    </ul> */}
                    <div class="d-flex flex-wrap gap-2">
                      {item.tags.map((tag) => (
                        <span class="badge bg-primary mb-1 fw-bold">{tag}</span>
                      ))}
                      {/* <span class="badge bg-dark mb-1">EdTech</span> */}
                    </div>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 rounded p-5 text-center text-md-start">
          <img
            class="img-fluid w-25 rounded-circle mb-3"
            src="/images/logo-ingenia.png"
            alt="logo ingenia oaxaca"
          />
          <span class="d-block">2019 - 2025</span>
          <h3 class="text-primary my-1">Web Developer</h3>
          <a
            class="btn btn-outline-light"
            href="https://ingeniaoaxaca.com/"
            target="_blank"
          >
            Ingenia Oaxaca
          </a>
        </div>
        <div class="col-12 col-md-8">
          <div class="spotlight-card card p-3 p-md-5">
            <p class="mb-4">
              Como Web Developer mis actividades principales fueron enfocadas al
              frontend. Aqui pude poner a prueba mis conocimiento en HTML, CSS y JavaScript lo que me permitio comprender los fundamentos del desarrollo Web.
            </p>

            <ul class="list-group border-primary list-group-flush">
              {
                ingenia.map((item) => (
                  <li class="list-group-item">
                    <div class="d-flex justify-content-md-between align-items-center py-2">
                      <h5 class="text-primary m-0">{item.title}</h5>
                    </div>
                    <p>{item.description}</p>
                      <div class="d-flex flex-wrap gap-2">
                        {item.tags.map((tag) => (
                          <span class="badge bg-primary mb-1">{tag}</span>
                        ))}
                      </div>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
